# Node
TZ=UTC
PORT=3333
HOST=localhost
NODE_ENV=development

# App
LOG_LEVEL=info
APP_KEY=
APP_URL=http://${HOST}:${PORT}

# Session
SESSION_DRIVER=cookie

# Database (Supabase)
DATABASE_URL=
DIRECT_URL=

# Supabase Object Storage
SUPABASE_URL=
SUPABASE_SECRET_KEY=
STORAGE_BUCKET_PUBLIC=
STORAGE_BUCKET_PRIVATE=

# IAM (Digital Covet ID) OAuth client
IAM_URL=
IAM_CLIENT_ID=
IAM_CLIENT_SECRET=

